@import "tailwindcss";

@layer base {
  :root {
    --primary: #4b2bee;
    --color-background-light: #f6f6f8;
    --color-background-dark: #131022;
    --font-display: 'Inter', sans-serif;
    --radius-default: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-full: 9999px;
  }
}